.navbar-toggler[b-9qkkwgv1yd] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-9qkkwgv1yd] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-9qkkwgv1yd] {
    font-size: 1.1rem;
}

.bi[b-9qkkwgv1yd] {
    display: inline-block;
    width: 1.5em; /* Adjusted for larger size */
    height: 1.5em; /* Adjusted for larger size */
    vertical-align: middle;
    margin-right: 0.75rem;
}

.bi[b-9qkkwgv1yd]::before, 
[class*=" bi-"][b-9qkkwgv1yd]::before, 
[class^=bi-][b-9qkkwgv1yd]::before {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: 400 !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav-item[b-9qkkwgv1yd] {
    font-size: 1.2rem; /* Increased font size */
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-9qkkwgv1yd] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-9qkkwgv1yd] {
    padding-bottom: 1rem;
}

.nav-item[b-9qkkwgv1yd]  a {
    color: #d7d7d7;
    border-radius: 4px;
    height: auto; /* Changed from fixed height to auto */
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem; /* Added padding for better look */
    font-size: 1.2rem; /* Increased font size */
}

.nav-item[b-9qkkwgv1yd]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-9qkkwgv1yd]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

/* Media query */
@media (min-width: 641px) {
    .navbar-toggler[b-9qkkwgv1yd] {
        display: none;
    }

    .collapse[b-9qkkwgv1yd] {
        display: block;
    }
    
    .nav-scrollable[b-9qkkwgv1yd] {
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

/* Ensure icons align with text */
.d-flex.align-items-center .bi[b-9qkkwgv1yd] {
    margin-top: 0 !important;
}

/* Specific rule for icons inside nav items */
.nav-item[b-9qkkwgv1yd]  a .bi,
.nav-link .bi[b-9qkkwgv1yd] {
    font-size: 1.2rem; /* Match this with the font-size of text */
    margin-top: 0 !important;
}